@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-collapse {
  border: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 20px;
}
.item1 {
  grid-column: span 1 / span 1;
}
.item2 {
  grid-column: span 6 / span 6;
}
.item3 {
  grid-column: span 4 / span 4;
}

@media (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
    column-gap: 20px; 
  }
  .navbar {
    margin-left: 20px;
  }
  .item1 {
    order: 2;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .item2 {
    order: 1;
    grid-column: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
  .item3 {
    order: 1;
    grid-column: 2;
    margin-right: 20px;
  }
  .text-sm {
    font-size: 12px;
  }
  .text-2xl {
    font-size: 22px;
  }
  .text-4xl {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    margin-left: 20px;
  }
  .item1 {
    order: 2;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .item2 {
    order: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
  .item3 {
    order: 3;
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-sm {
    font-size: 10px;
  }
  .text-2xl {
    font-size: 20px;
  }
  .text-4xl {
    font-size: 24px;
  }
}
